<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form  #form="ngForm" (ngSubmit)="register(form)">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              
              <div text-center>
                  <img src="assets/icon/event.png"/>
                  <h3></h3>
              </div>
              <div padding>
                <ion-item>
                  
                  <ion-input name="email" type="email" placeholder="seu@email.com.br" [(ngModel)]="email" required></ion-input>
                </ion-item>
                <ion-item>
                   
                  <ion-input name="password" type="password" placeholder="senha" [(ngModel)]="senha" required></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-button  size="large" type="submit" (click)="login()" [disabled]="form.invalid" expand="block">Login</ion-button>
              </div>
            </ion-col>
            <div text-center>
               Não possui conta, por favor <a routerLink='/register'>
               registre-se</a> primeiro!
               </div>
          </ion-row>
        </ion-grid>
      </form>

</ion-content>
